{%  extends ":frontend:base.html.twig" %}

{% block body %}
    <div id="core" class="page-property-details">

        <!-- PAGE HEADER : begin -->
        <div class="page-header" style="background-image: url('data:image/png;base64,{{ imageP }}')">
            <div class="container">
                <div class="page-header-inner clearfix">
                    <h1>{{ offre.titre }} </h1>
                    <ul class="custom-list breadcrumbs">
                        <li><a href="index.html">Home</a> / </li>
                        <li><a href="properties-listing-grid.html">Search Results</a> /</li>
                        <li><a href="property-details-rent.html">Property Details</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- PAGE HEADER : end -->

        <!-- MAIN WRAPPER : begin -->
        <div class="main-wrapper-container">
            <div class="container">
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-8 col-md-push-4">

                            <!-- PROPERTY DETAILS : begin -->
                            <div class="property-details">

                                <!-- PROPERTY IMAGES : begin -->
                                <div class="property-images">
                                    <div class="image-list">
                                        {% for i in img %}
                                        <div class="image"><img src="data:image/png;base64,{{ images[i.id] }}" alt="More pictures"></div>
                                        {% endfor %}
                                            </div>
                                    <div class="images-footer">
                                        <div class="images-footer-inner">
                                            <div class="image-description"></div>
                                            <div class="image-counter"></div>
                                        </div>
                                        <button class="prev-btn"><i class="fa fa-chevron-left"></i></button>
                                        <button class="next-btn"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </div>
                                <!-- PROPERTY IMAGES : end -->

                                <div class="row">
                                    <div class="col-md-8">

                                        <!-- PROPERTY DESCRIPTION : begin -->
                                        <div class="property-description">

                                            <!-- DESCRIPTION TEXT : begin -->
                                            <div class="description-text">
                                                <h4>Description</h4>
                                                <p>{{ offre.description}}</p>
                                            </div>
                                            <!-- DESCRIPTION TEXT : end -->

                                            <!-- TABS : begin -->
                                            <div class="tabs-container">
                                                <ul class="tab-title-list">
                                                    <li class="tab-title active"><a href="#amenities">Housing Equipment</a></li>
                                                    <li class="tab-title"><a href="#espace">Espace</a></li>
                                                    <li class="tab-title"><a href="#reviews">Reviews</a></li>
                                                </ul>
                                                <ul class="tab-content-list">

                                                    <!-- AMENITIES TAB : begin -->
                                                    <li class="tab-content active" id="amenities">

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <ul class="check-list">
                                                                    <li{% if not(eq.wifi) %} class="unchecked" {% endif %}>Wi-Fi </li>
                                                                    <li{% if not(eq.television) %} class="unchecked" {% endif %}>Television</li>
                                                                    <li{% if not(eq.chauffage) %} class="unchecked" {% endif %}>Chauffage</li>
                                                                    <li{% if not(eq.cheminee) %} class="unchecked" {% endif %}>Cheminee</li>
                                                                    <li{% if not(eq.dressing) %} class="unchecked" {% endif %}>Dressing</li>
                                                                    <li{% if not(eq.climatisation) %} class="unchecked" {% endif %}>Climatisation</li>
                                                                    <li{% if not(eq.entreePrivee) %} class="unchecked" {% endif %}>Entrée Privée</li>
                                                                    <li{% if not(eq.produits) %} class="unchecked" {% endif %}>Produits de base</li>
                                                                </ul>
                                                            </div>

                                                        </div>

                                                    </li>
                                                    <!-- AMENITIES TAB : end -->
                                                    <li class="tab-content" id="espace">

                                                        <div class="row">
                                                            <ul class="custom-list comment-list">

                                                                <div class="col-sm-6">
                                                                    <ul class="check-list">
                                                                        <li{% if not(es.cuisine) %} class="unchecked" {% endif %}>Cuisine</li>
                                                                        <li{% if not(es.salon) %} class="unchecked" {% endif %}>Salon</li>
                                                                        <li{% if not(es.laveLinge) %} class="unchecked" {% endif %}>Lave Linge</li>
                                                                        <li{% if not(es.piscine) %} class="unchecked" {% endif %}>Piscine</li>
                                                                        <li{% if not(es.jacuzzi) %} class="unchecked" {% endif %}>Jacuzzi</li>
                                                                        <li{% if not(es.parking) %} class="unchecked" {% endif %}>Parking</li>
                                                                    </ul>
                                                                </div>
                                                            </ul>
                                                        </div>

                                                    </li>

                                                    <!-- COMMENTS TAB : begin -->
                                                    <li class="tab-content" id="espace">

                                                        <div class="comments">
                                                            <ul class="custom-list comment-list">

                                                                <!-- COMMENT 1 : begin -->
                                                                <li class="comment">
                                                                    <div class="author"><strong>Jenny &amp; Tom </strong> - <span class="date">Nov. 14, 2013</span></div>
                                                                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                                                    <div class="review">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                                                                    </div>
                                                                </li>
                                                                <!-- COMMENT 1 : end -->

                                                                <!-- COMMENT 2 : begin -->
                                                                <li class="comment">
                                                                    <div class="author"><strong>Tom &amp; Jerry </strong> - <span class="date">Nov. 4, 2013</span></div>
                                                                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                                    <div class="review">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                                                                    </div>
                                                                </li>
                                                                <!-- COMMENT 2 : end -->

                                                                <!-- COMMENT 3 : begin -->
                                                                <li class="comment">
                                                                    <div class="author"><strong>Kate </strong> - <span class="date">Nov. 1, 2013</span></div>
                                                                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                                                    <div class="review">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
                                                                    </div>
                                                                </li>
                                                                <!-- COMMENT 3 : end -->

                                                            </ul>
                                                        </div>

                                                    </li>
                                                    <!-- COMMENTS TAB : end -->
                                                    <!-- COMMENTS TAB : begin -->


                                                </ul>
                                            </div>
                                            <!-- TABS : end -->

                                        </div>
                                        <!-- PROPERTY DESCRIPTION : end -->

                                    </div>
                                    <div class="col-md-4">

                                        <!-- PROPERTY PANEL : begin -->
                                        <div class="property-panel">

                                            <!-- OBJECT PRICE : begin -->
                                            <div class="panel-item object-price">
                                                <h4 class="panel-item-title">Price</h4>

                                                <p class="price">from <strong>{{ offre.prix  }}$</strong>/ night</p>
                                            </div>
                                            <!-- OBJECT PRICE : end -->

                                            <!-- OBJECT RATING : begin -->
                                            <div class="panel-item object-rating">
                                                <h4 class="panel-item-title">Object Rating</h4>
                                                <p class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></p>
                                            </div>
                                            <!-- OBJECT RATING : end -->

                                            <!-- OBJECT OWNER : begin -->
                                            <div class="panel-item object-owner">
                                                <h4 class="panel-item-title">Object Owner</h4>
                                                <div class="clearfix">
                                                    <div class="portrait">
                                                        <img src="{{ asset('frontLibs/dummies/portrait_02_240.jpg') }}" alt="">
                                                        <h5 class="name"><i class="ico-person"></i> John Goodman</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- OBJECT OWNER : end -->

                                            <!-- BOOK FORM : begin -->
                                            <div class="panel-item contact-form">
                                                <h4 class="panel-item-title">Message to Owner</h4>
                                                <form class="default-form" action="property-details-rent.html">
                                                    <p class="alert-message warning validation" style="display: none;"><i class="ico fa fa-exclamation-circle"></i> Please fill all fields!</p>
                                                    <p class="form-row">
                                                        <input type="text" class="required" placeholder="Your Name">
                                                    </p>
                                                    <p class="form-row">
                                                        <input type="text" class="email required" placeholder="Your Email">
                                                    </p>
                                                    <p class="form-row">
                                                        <textarea class="required" placeholder="Message"></textarea>
                                                    </p>
                                                    <p class="form-row">
                                                        <button class="button submit-btn"><i class="fa fa-envelope"></i> Send Message</button>
                                                    </p>
                                                </form>
                                            </div>
                                            <!-- BOOK FORM : end -->

                                        </div>
                                        <!-- PROPERTY PANEL : end -->

                                    </div>
                                </div>

                            </div>
                            <!-- PROPERTY DETAILS : end -->

                        </div>
                        <div class="col-md-4 col-md-pull-8">

                            <!-- PROPERTY LOCATION DETAILS : begin -->
                            <aside class="property-location-details">
                                <h3 class="property-location-title">Location &amp; Details</h3>

                                <!-- PROPERTY MAP : begin -->
                                <div class="property-map">
                                    <iframe src="https://maps.google.com/maps?q=32.524526,-117.12392&amp;num=1&amp;ie=UTF8&amp;ll=32.514104,-117.110953&amp;spn=0.007843,0.013937&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                    <a href="#" class="map-btn"><i class="fa fa-search-plus"></i></a>
                                </div>
                                <!-- PROPERTY MAP : end -->

                                <!-- PROPERTY INFO : begin -->
                                <div class="property-info">
                                    <h4 class="property-info-title">Details</h4>

                                    <!-- ADDRESS : begin -->
                                    <div class="toggle-container property-address">
                                        <B><h3 class="" style="color: #ca1b00"><img src="{{ asset('frontLibs/dummies/address.png') }}" width="80" height="60"> Address </h3></B><br>
                                        <div class="toggle-content">

                                            <p>{{ adresse.ville  }} , {{ adresse.gouvernerat }}<br>
                                                {{ adresse.rue }}<br>

                                            {{ adresse.pays }}</p><br>

                                            <img src="{{ asset('frontLibs/dummies/zigzag.png')  }}" height="40" width="500">

                                        </div>


                                    </div>
                                    <!-- ADDRESS : end -->


                                    <!-- ACCOMODATION : begin -->
                                    <div class="toggle-container property-accomodation">
                                       <B> <h3 class="" style="color: #da590b"><img src="{{ asset('frontLibs/dummies/accom.png') }}" width="60" height="40"> Accomodation</h3></B><br>
                                        <div class="toggle-content">

                                            <ul class="custom-list">
                                                <li>Beds <strong>{{ offre.nbChambre }}</strong></li>
                                                <li>People allowed <strong>{{ offre.nbrVoyageurMax }}</strong></li>
                                                <li>Bathrooms <strong>{{ offre.nbrSalleBain }}</strong></li>
                                                <li>Area <strong>{{ offre.superficie }}</strong></li>
                                            </ul><br>

                                            <img src="{{ asset('frontLibs/dummies/zigzag.png') }}" height="40" width="500">
                                        </div>
                                    </div>
                                    <!-- ACCOMODATION : end -->

                                    <!-- ADDITIONAL : begin -->
                                    <div class="toggle-container property-accomodation">
                                       <B><h3 class="" style="color:#31b131 " ><img src="{{ asset('frontLibs/dummies/reglement.png') }}" width="60" height="60">  Reglement</h3></B><br>
                                        <div class="toggle-content">
                                            <p>{{ reg.description }}</p><br>
                                            <ul class="custom-list ">

                                                <li>Nombre de voyageurs<strong>{{ offre.nbrVoyageurMax }}<br></strong></li>

                                                <p class="flotte">
                                                    {% if not(reg.fumeur) %}
                                                    <img src="{{ asset('frontLibs/dummies/smoking.png') }}" alt="Nouveau !" /> Fumeur {% else %}

                                                        <img src="{{ asset('frontLibs/dummies/smokingnot.png') }}" alt="Nouveau !"  width="25" height="25"/> Non Fumeur{% endif %}

                                                </p>
                                                <p class="flotte">
                                                    {% if not(reg.animaux) %}
                                                        <img src="{{ asset('frontLibs/dummies/pets.png') }}" alt="Nouveau !" width="30" height="30"/> Pets allowed {% else %}

                                                        <img src="{{ asset('frontLibs/dummies/nopets.png') }}" alt="Nouveau !"  width="25" height="25"/> No Pets allowed{% endif %}

                                                </p>
                                            </ul>

                                        </div>

                                    <!-- ADDITIONAL : end -->

                                </div>
                                <!-- PROPERTY INFO : end -->
                                </div>
                            </aside>
                            <!-- PROPERTY LOCATION DETAILS : end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MAIN WRAPPER : end -->

    </div>
    <!-- CORE : end -->

{% endblock %}