{% extends ':frontend:base.html.twig' %}

{% block body %}

    {# {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
     <input type="submit" value="Edit"/>


     <ul>
         <li>
             <a href="{{ path('utilisateur_index') }}">Back to the list</a>
         </li>
         <li>
             {{ form_start(delete_form) }}
             <input type="submit" value="Delete">
             {{ form_end(delete_form) }}
         </li>
     </ul>
 #}
    <link rel="stylesheet" href="{{ asset('backLibs/css/bootstrap.min.css') }}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="container">

        <form class="well form-horizontal" action="{{ path('utilisateur_edit', {'id': app.user.id}) }}" method="post" id="contact_form">
            <fieldset>

                <!-- Form Name -->
                <legend>{{ utilisateur.nom }} {{ utilisateur.prenom }}</legend>

                <!-- Text input-->

                <div class="form-group">

                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                                <input name="first_name" placeholder="First Name" class="form-control" type="text">


                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Type d'identité</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></span>
                            <input name="last_name" placeholder="Type d'identité" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Piece d'identite</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></span>
                            <input name="last_name" placeholder="Piece d'identite" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                        </div>
                    </div>
                </div>


                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Phone #</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Address</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="address" placeholder="Address" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Point de fidelite</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-piggy-bank"></i></span>
                            <input name="city" placeholder="Point de fidelite" class="form-control" type="text"
                                   disabled>
                        </div>
                    </div>
                </div>

                <!-- radio checks -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Do you have hosting?</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <label>
                                <input type="radio" name="hosting" value="yes"/> Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="hosting" value="no"/> No
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Text area -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Interet</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <textarea class="form-control" name="comment" placeholder="Interet"></textarea>
                        </div>
                    </div>
                </div>
                <!-- Text area -->

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Profile picture</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <label class="control-label">update your profile picture!</label>
                            <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
                            <script>
                                $(document).on('ready', function () {
                                    $("#input-4").fileinput({showCaption: false});
                                });
                            </script>

                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">

                        <button type="submit" class="btn btn-warning">
                            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">
                                Confirm Editing
                            </a>
                            <span class="glyphicon glyphicon-ok">

                            </span>
                        </button>

                        <button type="submit" class="btn btn-warning">
                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">
                                Cancel
                            </a>
                            <span class="glyphicon glyphicon-remove">

                            </span>
                        </button>
                    </div>
                </div>
                <!-- Button -->

            </fieldset>
        </form>
    </div>

{% endblock %}
