{% extends ':frontend:base.html.twig' %}

{% block body %}
    <h1>Utilisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Pieceidentite</th>
                <th>Typeidentite</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Tel</th>
                <th>Adr</th>
                <th>Pointfidelite</th>
                <th>Statut</th>
                <th>Image</th>
                <th>Interet</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">{{ utilisateur.pieceIdentite }}</a></td>
                <td>{{ utilisateur.typeIdentite }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.sexe }}</td>
                <td>{{ utilisateur.tel }}</td>
                <td>{{ utilisateur.adr }}</td>
                <td>{{ utilisateur.pointFidelite }}</td>
                <td>{{ utilisateur.statut }}</td>
                <td>{{ utilisateur.image }}</td>
                <td>{{ utilisateur.interet }}</td>
                <td>{{ utilisateur.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_new') }}">Create a new utilisateur</a>
        </li>
    </ul>
{% endblock %}
