{% extends ':frontend:base.html.twig' %}

{% block body %}
    {#
    <h1>{{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Pieceidentite</th>
                <td>{{ utilisateur.pieceIdentite }}</td>
            </tr>
            <tr>
                <th>Typeidentite</th>
                <td>{{ utilisateur.typeIdentite }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ utilisateur.sexe }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ utilisateur.tel }}</td>
            </tr>
            <tr>
                <th>Adr</th>
                <td>{{ utilisateur.adr }}</td>
            </tr>
            <tr>
                <th>Pointfidelite</th>
                <td>{{ utilisateur.pointFidelite }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ utilisateur.statut }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ utilisateur.image }}</td>
            </tr>
            <tr>
                <th>Interet</th>
                <td>{{ utilisateur.interet }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>

            {% if(utilisateur.referredBy != null) %}
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.referredBy.nom }}</td>
            </tr>

        {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
#}
    <link rel="stylesheet" href="{{ asset('backLibs/css/bootstrap.min.css') }}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="container">

        <form class="well form-horizontal" action="" method="post" id="contact_form">
            <fieldset>

                <!-- Form Name -->
                <legend>{{ utilisateur.nom }} {{ utilisateur.prenom }}</legend>

                <!-- Text input-->

                <div class="form-group">

                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            {% if utilisateur.nom is null %}
                                <input name="first_name" placeholder="First Name" class="form-control" type="text" disabled>

                            {% else %}
                                <input name="first_name" placeholder="{{ utilisateur.nom }}" class="form-control"
                                       type="text" disabled>
                            {% endif %}

                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            {% if utilisateur.prenom is null %}
                            <input name="last_name" placeholder="Last Name" class="form-control" type="text" disabled>
                            {% else %}
                            <input name="last_name" placeholder="{{ utilisateur.prenom }}" class="form-control" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Type d'identité</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></span>
                            {% if utilisateur.typeIdentite is null %}
                            <input name="last_name" placeholder="Type d'identité" class="form-control" type="text" disabled>
                            {% else %}
                                <input name="last_name" placeholder="{{ utilisateur.typeIdentite }}" class="form-control" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Piece d'identite</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></span>
                            {% if utilisateur.pieceIdentite is null %}
                            <input name="last_name" placeholder="Piece d'identite" class="form-control" type="text" disabled>
                            {% else %}
                                <input name="last_name" placeholder="{{ utilisateur.pieceIdentite }}" class="form-control" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            {% if utilisateur.email is null %}
                            <input name="email" placeholder="E-Mail Address" class="form-control" type="text" disabled>
                            {% else %}
                                <input name="email" placeholder="{{ utilisateur.email }}" class="form-control" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Phone #</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            {% if utilisateur.tel is null %}
                            <input name="phone" placeholder="Numero de telephone" class="form-control" type="text" disabled>
                            {% else %}
                                <input name="phone" placeholder="{{ utilisateur.tel }}" class="form-control" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Address</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            {% if utilisateur.adr is null %}
                            <input name="address" placeholder="Address" class="form-control" type="text" disabled>
                            {% else %}
                                <input name="address" placeholder="{{ utilisateur.adr }}" class="form-control" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Point de fidelite</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-piggy-bank"></i></span>
                            {% if utilisateur.pointFidelite is null %}
                            <input name="city" placeholder="Point de fidelite" class="form-control" type="text" disabled>
                            {% else %}
                                <input name="city" placeholder="{{ utilisateur.pointFidelite }} points" class="form-control" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {#
                <!-- Select Basic -->

                <div class="form-group">
                    <label class="col-md-4 control-label">State</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="state" class="form-control selectpicker" >
                                <option value=" " >Please select your state</option>
                                <option>Alabama</option>
                                <option>Alaska</option>
                                <option >Arizona</option>
                                <option >Arkansas</option>
                                <option >California</option>
                                <option >Colorado</option>
                                <option >Connecticut</option>
                                <option >Delaware</option>
                                <option >District of Columbia</option>
                                <option> Florida</option>
                                <option >Georgia</option>
                                <option >Hawaii</option>
                                <option >daho</option>
                                <option >Illinois</option>
                                <option >Indiana</option>
                                <option >Iowa</option>
                                <option> Kansas</option>
                                <option >Kentucky</option>
                                <option >Louisiana</option>
                                <option>Maine</option>
                                <option >Maryland</option>
                                <option> Mass</option>
                                <option >Michigan</option>
                                <option >Minnesota</option>
                                <option>Mississippi</option>
                                <option>Missouri</option>
                                <option>Montana</option>
                                <option>Nebraska</option>
                                <option>Nevada</option>
                                <option>New Hampshire</option>
                                <option>New Jersey</option>
                                <option>New Mexico</option>
                                <option>New York</option>
                                <option>North Carolina</option>
                                <option>North Dakota</option>
                                <option>Ohio</option>
                                <option>Oklahoma</option>
                                <option>Oregon</option>
                                <option>Pennsylvania</option>
                                <option>Rhode Island</option>
                                <option>South Carolina</option>
                                <option>South Dakota</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option> Uttah</option>
                                <option>Vermont</option>
                                <option>Virginia</option>
                                <option >Washington</option>
                                <option >West Virginia</option>
                                <option>Wisconsin</option>
                                <option >Wyoming</option>
                            </select>
                        </div>
                    </div>
                </div>
                #}


                <!-- Text area -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Interet</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {% if utilisateur.interet is null %}
                            <textarea class="form-control" name="comment" placeholder="Interet" disabled></textarea>
                            {% else %}
                                <textarea class="form-control" name="comment" placeholder="{{ utilisateur.interet }}" disabled></textarea>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Refered By</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            {% if utilisateur.referredBy is null %}
                            <input name="last_name" placeholder="Refered By" class="form-control" type="text" disabled>
                            {% else %}
                                <input name="last_name" placeholder="{{ utilisateur.referredBy }}" class="form-control" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Your Refering Link!</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                            <input name="last_name"
                                   value="{{ url('refer', {'hash' : hash}) }}"
                                   {#
                                   <a href="{{ url("refer", {'hash' : hash}) }}">{{ url("refer", {'hash' : hash}) }}</a>
                                   #}
                            class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">

                        <button type="submit" class="btn btn-warning">
                            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">
                                Edit Profile Now!
                            </a>
                            <span class="glyphicon glyphicon-edit">

                            </span>
                        </button>
                    </div>
                </div>
                <!-- Button -->


                {#
                <!-- Success message -->
                <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>
                <!-- Button -->
                #}
            </fieldset>
        </form>
    </div>
    </div><!-- /.container -->

{% endblock %}
