{% extends ":frontend:base.html.twig" %}


{% block register %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <br>
            <br>
            <br>
            <br>

            Hash Generate, you link <a
                    href="{{ url("refer", {'hash' : hash}) }}">{{ url("refer", {'hash' : hash}) }}</a>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
{% endblock %}

