{% extends ":frontend:base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block register %}
{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            Welcome {{ user.username }} .... <a href="{{ path('home') }}">Home Page</a>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
{% endblock %}

