<!Doctype html>
<html class="no-js" lang="en">



<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" type="image/png" href={{ asset('backLibs/img/favicon.png') }}>
    <link href=http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700 rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={{ asset('backLibs/css/vendor.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('backLibs/css/plugins.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('backLibs/css/pratham.min.css') }}>
    <title>Pratham | The most powerful admin theme | Admin Dashboard</title>
</head>

<body>
<div class="prtm-wrapper">
    <header class="prtm-header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <button class="c-hamburger c-hamburger--htra prtm-bars pull-right"> <span>toggle menu</span> </button>
                    <div class="prtm-logo">
                        <a class="navbar-brand" href={{ asset('index-2.html') }}""><img class="img-responsive display-ib" src="backLibs/img/pratham-logo.png" alt="logo" width="226" height="31"></a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse" data-hover="dropdown">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <div class="prtm-search-icon"> <a href={{ asset('javascript:;') }} class="prtm-menu-search"><i class="fa fa-search overlay-1"></i></a>
                                <div class="prtm-navbar-search">
                                    <div class="prtm-search-area"></div>
                                    <form class="prtm-search-form" method="post" role="search" action="javascript:;"> <span class="prtm-search-form-title fa fa-search"></span>
                                        <input placeholder="Type and hit enter" value="" name="s" type="text"> </form>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown hidden-xs hidden-sm hidden-md"> <a href={{ asset('javascript:;') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mega <span class="caret"></span></a>
                            <div class="dropdown-menu prtm-mega-menu">
                                <div class="prtm-mega-menu-wrap pad-all-lg">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                                            <h4 class="sidenav-heading text-uppercase mrgn-b-md">Dashboards</h4>
                                            <ul class="list-unstyled">
                                                <li><a href={{ asset('index-2.html') }}>Dashboard 1</a></li>
                                                <li><a href={{ asset('dashboard-v2.html') }}>Dashboard 2</a></li>
                                                <li><a href={{ asset('dashboard-v3.html') }}>Dashboard 3</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                                            <h4 class="sidenav-heading text-uppercase mrgn-b-md">Features</h4>
                                            <ul class="list-unstyled">
                                                <li><a href={{ asset('ui-buttons.html') }}>UI Elements</a></li>
                                                <li><a href={{ asset('notification.html') }}>Components</a></li>
                                                <li><a href={{ asset('google-chart.html') }}>Graph and Charts</a></li>
                                                <li><a href={{ asset('googlemap.html') }}>Maps</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                                            <h4 class="sidenav-heading text-uppercase mrgn-b-md">Layouts</h4>
                                            <ul class="list-unstyled">
                                                <li><a href={{ asset('index-2.html') }}"">Sidebar At left</a></li>
                                                <li><a href={{ asset('right-sidebar.html') }}"">Sidebar At right</a></li>
                                                <li><a href={{ asset('fixed-header.html') }}"">Fixed Header</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                                            <h4 class="sidenav-heading text-uppercase mrgn-b-md">Pages</h4>
                                            <ul class="list-unstyled">
                                                <li><a href={{ asset('users-list.html') }}"">Users</a></li>
                                                <li><a href={{ asset('ecommerce-product.html') }}"">Ecommerce</a></li>
                                                <li><a href={{ asset('email.html') }}"">Mailbox</a></li>
                                                <li><a href={{ asset('login.html') }}"">Extra Pages</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="prtm-sparkline">
                                                <div class="prtm-sparkline-list bg-success clearfix prtm-card-box">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="5000">0</span> <span>New visitors</span> </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                        <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[9, 8, 9, 7, 6, 8, 7, 8]"> </div>
                                                    </div>
                                                </div>
                                                <div class="prtm-sparkline-list clearfix bg-info prtm-card-box">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="3000">0</span> <span>New Users</span> </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                        <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[5, 6, 8, 9, 5, 8, 4, 6]"> </div>
                                                    </div>
                                                </div>
                                                <div class="prtm-sparkline-list clearfix bg-secondary prtm-card-box">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="7000">0</span> <span>Active Users</span> </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                        <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[9, 8, 9, 7, 6, 8, 7, 8]"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown hidden-xs hidden-sm hidden-md"> <a href={{ asset('javascript:;') }}"" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New<span class="caret"></span></a>
                            <ul class="dropdown-menu ">
                                <li><a href={{ asset('javascript:;') }}"">New Page 1</a></li>
                                <li><a href={{ asset('javascript:;') }}"">New Page 2</a></li>
                                <li><a href={{ asset('javascript:;') }}"">New Page 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href={{ asset('javascript:;') }}"" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o"> </i><span class="badge badge-danger">2</span></a>
                            <ul class="dropdown-menu dropdown-custom dropdown-notifi">
                                <li> <strong class="drop-title"><span><i class="fa fa-bell-o" aria-hidden="true"></i></span>Notifications</strong><a href={{ asset('javascript:;') }} class="pull-right bg-primary base-reverse">Marks As Read</a></li>
                                <li>
                                    <a href={{ asset('javascript:;') }}"" class="pos-relative">
                                        <div class="mrgn-b-xs"> <span class="notification-icon"><i class="fa fa-database text-danger"></i></span> <span class="notification-title">Database overload</span> <span class="notification-ago">3 min ago</span> </div>
                                        <p class="mrgn-all-none">Database overload due to incorrect queries</p>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href={{ asset('javascript:;') }}"" class="pos-relative">
                                        <div class="mrgn-b-xs"> <span class="notification-icon"><i class="fa fa-circle-o-notch fa-spin text-success" aria-hidden="true"></i></span> <span class="notification-title">Installing App v1.2.1</span> <span class="notification-ago ">60 % Done</span> </div>
                                        <div class="progress progress-sm-height mrgn-all-none">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%"> </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href={{ asset('javascript:;') }}"" class="pos-relative">
                                        <div class="mrgn-b-xs"> <span class="notification-icon"><i class="fa fa-exclamation-triangle text-warning"></i></span> <span class="notification-title">Application Error</span> <span class="notification-ago ">10 min ago</span> </div>
                                        <p class="mrgn-all-none">failed to initialize the application due to error weblogic.application.moduleexception</p>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href={{ asset('javascript:;') }}"">
                                        <div class="mrgn-b-xs"> <span class="notification-icon"><i class="fa fa-server text-info"></i></span> <span class="notification-title">Server Status</span> <span class="notification-ago ">30GB Free Space</span> </div>
                                        <div class="progress progress-sm-height mrgn-all-none">
                                            <div class="progress-bar progress-bar-info" role="progressbar" style="width:40%"></div>
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href={{ asset('javascript:;') }}"">
                                        <div class="mrgn-b-xs"> <span class="notification-icon"><i class="fa fa-cogs text-success"></i></span> <span class="notification-title">Application Configured</span> <span class="notification-ago ">30 min ago</span> </div>
                                        <p class="mrgn-all-none">Your setting is updated on server Sav3060</p>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li> <a class="text-center" href={{ asset('javascript:;') }}""> See all notifications <i class="fa fa-angle-right mrgn-l-xs"></i> </a> </li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href={{ asset('javascript:;') }}"" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope-o"></i><span class="badge badge-danger">5</span></a>
                            <ul class="dropdown-menu dropdown-custom">
                                <li> <strong class="drop-title">You have 5 new messages</strong> </li>
                                <li>
                                    <a href={{ asset('javascript:;') }}>
                                        <div class="user-thumb pull-left"><img class="img-responsive img-circle" src="backLibs/img/register-user-2.jpg" alt="User-image" width="64" height="64"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="user-content pull-left">
                                            <h6 class="mrgn-all-none">Marya Kale</h6>
                                            <p class="mrgn-b-xs">Just see the my admin!</p> <span>9:30 AM</span> <span class="notification-ago">30 min ago</span> </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href={{ asset('javascript:;') }}>
                                        <div class="user-thumb pull-left"><img class="img-responsive img-circle" src="backLibs/img/histroy-user-1.png" alt="User-image" width="64" height="64"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="user-content pull-left">
                                            <h6 class="mrgn-all-none">Jim Gray</h6>
                                            <p class="mrgn-b-xs">Just see the my admin!</p> <span>9:30 AM</span> <span class="notification-ago ">10 min ago</span> </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href={{ asset('javascript:;') }}>
                                        <div class="user-thumb pull-left"><img class="img-responsive img-circle" src="backLibs/img/register-user-2.jpg" alt="User-image" width="64" height="64"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="user-content pull-left">
                                            <h6 class="mrgn-all-none">Marya Kale</h6>
                                            <p class="mrgn-b-xs">Just see the my admin!</p> <span>9:30 AM</span> <span class="notification-ago ">20 min ago</span> </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href={{ asset('javascript:;') }}>
                                        <div class="user-thumb pull-left"><img class="img-responsive img-circle" src="backLibs/img/histroy-user-1.png" alt="User-image" width="64" height="64"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="user-content pull-left">
                                            <h6 class="mrgn-all-none">Jim Gray</h6>
                                            <p class="mrgn-b-xs">Just see the my admin!</p> <span>9:30 AM</span> <span class="notification-ago ">5 min ago</span> </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li> <a class="text-center" href={{ asset('javascript:;') }}>See all notifications<i class="fa fa-angle-right mrgn-l-xs"></i> </a> </li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href={{ asset('javascript:;') }} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">John Doe<span class="caret"></span><img class="img-responsive display-ib mrgn-l-sm img-circle" src="backLibs/img/user-1.jpg" width="64" height="64" alt="User-image"></a>
                            <ul class="dropdown-menu">
                                <li><a href={{ asset('user-profile.html') }}""><i class="fa fa-user"></i> My Profile</a></li>
                                <li><a href={{ asset('users-list.html') }}""><i class="fa fa-money"></i> My Contact</a></li>
                                <li><a href={{ asset('email.html') }}"" class="pos-relative"><i class="fa fa-inbox"></i> My Inbox <span class="badge badge-danger pull-right profile-badge">2</span></a></li>
                                <li><a href={{ asset('user-profile.html') }}"" class="pos-relative"><i class="fa fa-tasks"></i> My task <span class="badge badge-success pull-right profile-badge">5</span></a></li>
                                <li><a href={{ asset('user-settings.html') }}""><i class="fa fa-cog"></i> Account Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href={{ asset('login.html') }}""><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <div class="prtm-main">
        <div class="prtm-sidebar">
            <div class="prtm-sidebar-back"> </div>
            <div class="prtm-sidebar-nav-wrapper">
                <div class="prtm-sidebar-menu">
                    <nav class="sidebar-nav collapse">
                        <ul class="list-unstyled sidebar-menu">
                            <li class="sidenav-heading text-uppercase">Dashboards</li>
                            <li class="has-children active opened"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Dashboard</span></a>
                                <ul class="list-unstyled sub-menu">
                                    <li><a href={{ asset('index-2.html') }}"" class="active"><span>Dashboard 1</span></a></li>
                                    <li><a href={{ asset('dashboard-v2.html') }}""><span>Dashboard 2</span></a></li>
                                    <li><a href={{ asset('dashboard-v3.html') }}""><span>Dashboard 3</span><span class="badge badge-primary">2</span></a></li>
                                </ul>
                            </li>
                            <li class="sidenav-heading text-uppercase">Features</li>
                            <li class="has-children"><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i><span>UI Elements</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('ui-buttons.html') }}""><span>Buttons</span></a></li>
                                    <li><a href={{ asset('progress-bar.html') }}""><span>Progress bar </span></a></li>
                                    <li><a href={{ asset('tabs-accordions.html') }}""><span>Tabs &amp; accordians</span></a></li>
                                    <li><a href={{ asset('form-elements.html') }}""><span>Form elements</span></a></li>
                                    <li><a href={{ asset('no-uislider.html') }}""><span>UI sliders</span></a></li>
                                    <li><a href={{ asset('input-mask.html') }}""><span>Form input mask</span></a></li>
                                    <li><a href={{ asset('pagination-tooltip.html') }}""><span>Pagination &amp; Tooltip</span></a></li>
                                    <li><a href={{ asset('panels.html') }}""><span>Panels</span></a></li>
                                    <li><a href={{ asset('social-icon.html') }}""><span>Social icons</span></a></li>
                                    <li><a href={{ asset('typography.html') }}""><span>Typography</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#"><i class="fa fa-inbox" aria-hidden="true"></i><span>Components</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('notification.html') }}""><span>Notification &amp; Alerts</span></a></li>
                                    <li><a href={{ asset('date-time-picker.html') }}""><span>Date &amp; Time picker</span></a></li>
                                    <li><a href={{ asset('color-picker.html') }}""><span>Color picker</span></a></li>
                                    <li><a href={{ asset('bootstrap-multiselect-dropdown.html') }}""><span>Bootstrap Multiselect</span></a></li>
                                    <li><a href={{ asset('cropper.html') }}""><span>Image Cropper</span></a></li>
                                    <li><a href={{ asset('fileupload.html') }}""><span>File Upload</span></a></li>
                                    <li><a href={{ asset('modals.html') }}""><span>Modal </span></a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i><span>Graphs and Charts</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('google-chart.html') }}""><span>Google chart</span></a></li>
                                    <li><a href={{ asset('high-chart.html') }}""><span>High Chart</span></a></li>
                                    <li><a href={{ asset('morris.html') }}""><span>Morris Chart</span></a></li>
                                    <li><a href={{ asset('chartlist.html') }}""><span>Chartlist</span></a></li>
                                    <li><a href={{ asset('flow-chart.html') }}""><span>Flow Chart</span></a></li>
                                    <li><a href={{ asset('easypie.html') }}""><span>Easypie chart</span></a></li>
                                    <li><a href={{ asset('flot-chart.html') }}""><span>Flot chart</span></a></li>
                                    <li><a href={{ asset('chartjs.html') }}""><span>js charts</span></a></li>
                                    <li><a href={{ asset('chart-peity.html') }}""><span>Peity chart</span></a></li>
                                    <li><a href={{ asset('sparkline-chart.html') }}""><span>Sparkline chart</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#"><i class="fa fa-map" aria-hidden="true"></i><span>Maps</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('googlemap.html') }}""><span>Google map</span></a></li>
                                    <li><a href={{ asset('vectormap.html') }}""><span>Vector map</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#"><i class="fa fa-table" aria-hidden="true"></i><span>Tables</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('basic-table.html') }}""><span>Basic tables</span></a></li>
                                    <li><a href={{ asset('responsive-table.html') }}""><span>Responsive table</span></a></li>
                                    <li><a href={{ asset('bootstrap-table.html') }}""><span>Bootstrap table</span></a></li>
                                    <li class="has-children"><a href="#"><span>Data tables</span></a>
                                        <ul class="list-unstyled sub-menu collapse">
                                            <li><a href={{ asset('data-table-buttons.html') }}""><span>Buttons Extension</span></a></li>
                                            <li><a href={{ asset('data-table-autofill.html') }}""><span>Autofill Extension</span></a></li>
                                            <li><a href={{ asset('data-table-col-reorder.html') }}""><span>Colreorder Extension</span></a></li>
                                            <li><a href={{ asset('data-table-row-reorder.html') }}""><span>Rowreorder Extension</span></a></li>
                                            <li><a href={{ asset('data-table-fixed-column.html') }}""><span>Fixed column Extension</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidenav-heading text-uppercase">Data visualization</li>
                            <li class="has-children"><a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i>
                                    <span>Dimple library</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li class="has-children"><a href="#"><span>Line charts</span></a>
                                        <ul class="list-unstyled sub-menu collapse">
                                            <li><a href={{ asset('dimple-line-horizontal.html') }}""><span>Horizontal orientation</span></a></li>
                                            <li><a href={{ asset('dimple-line-vertical.html') }}""><span>Vertical orientation</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children"><a href="#"><span>Bar charts</span></a>
                                        <ul class="list-unstyled sub-menu collapse">
                                            <li><a href={{ asset('dimple-bar-horizontal.html') }}""><span>Horizontal orientation</span></a></li>
                                            <li><a href={{ asset('dimple-bar-vertical.html') }}""><span>Vertical orientation</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children"><a href="#"><span>Area charts</span></a>
                                        <ul class="list-unstyled sub-menu collapse">
                                            <li><a href={{ asset('dimple-area-chart-horizontal.html') }}""><span>Horizontal orientation</span></a></li>
                                            <li><a href={{ asset('dimple-area-chart-vertical.html') }}""><span>Vertical orientation</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href={{ asset('dimple-pie-chart.html') }}""><span>Pie charts</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>D3 library</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('d3-line.html') }}""><span>Lines Charts</span></a></li>
                                    <li><a href={{ asset('d3-area.html') }}""><span>Area charts</span></a></li>
                                    <li><a href={{ asset('d3-bar.html') }}""><span>Bars charts</span></a></li>
                                </ul>
                            </li>
                            <li class="sidenav-heading text-uppercase">Layouts</li>
                            <li class="has-children"><a href="#"><i class="fa fa-columns" aria-hidden="true"></i><span>Page layouts</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('right-sidebar.html') }}""><span>Right Sidebar</span></a></li>
                                    <li><a href={{ asset('collapse-sidebar.html') }}""><span>Collapse Sidebar</span></a></li>
                                    <li><a href={{ asset('fixed-header.html') }}""><span>Fixed Header</span></a></li>
                                </ul>
                            </li>
                            <li class="sidenav-heading text-uppercase">Pages</li>
                            <li class="has-children"><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span>Users</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('users-list.html') }}""><span>Users list</span></a></li>
                                    <li><a href={{ asset('user-profile.html') }}""><span>Users profile</span></a></li>
                                    <li><a href={{ asset('user-settings.html') }}""><span>User settings</span></a></li>
                                    <li><a href={{ asset('chat.html') }}""><span>User chat</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span>Ecommerce</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('ecommerce-product.html') }}""><span>Ecommerce Product</span></a></li>
                                    <li><a href={{ asset('ecommerce-product-detail.html') }}""><span>Ecommerce Product detail</span></a></li>
                                    <li><a href={{ asset('ecommerce-order.html') }}""><span>Ecommerce order</span></a></li>
                                    <li><a href={{ asset('ecommerce-order-detail.html') }}""><span>Ecommerce order detail</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span>Mailbox</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('email.html') }}""><span>Emails</span></a></li>
                                    <li><a href={{ asset('email-compose.html') }}""><span>Email compose</span></a></li>
                                </ul>
                            </li>
                            <li><a href={{ asset('tickets.html') }}""><i class="fa fa-ticket" aria-hidden="true"></i><span>Tickets</span></a></li>
                            <li class="has-children"><a href="#"><i class="fa fa-magic" aria-hidden="true"></i><span>Extra</span></a>
                                <ul class="list-unstyled sub-menu collapse">
                                    <li><a href={{ asset('login.html') }}""><span>Login</span></a></li>
                                    <li><a href={{ asset('coming-soon.html') }}""><span>Coming Soon</span></a></li>
                                    <li><a href={{ asset('404.html') }}""><span>404</span></a></li>
                                    <li><a href={{ asset('pricing.html') }}""><span>Pricing</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="prtm-sparkline pad-lr-lg">
                        <div class="prtm-sparkline-list bg-success clearfix prtm-card-box">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="5000">5,000</span> <span>New visitors</span> </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[9, 8, 9, 7, 6, 8, 7, 8]"> </div>
                            </div>
                        </div>
                        <div class="prtm-sparkline-list clearfix bg-info prtm-card-box">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="3000">3,000</span> <span>New Users</span> </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[5, 6, 8, 9, 5, 8, 4, 6]"> </div>
                            </div>
                        </div>
                        <div class="prtm-sparkline-list clearfix bg-secondary prtm-card-box">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="show count-item" data-count="7000">7,000</span> <span>Active users</span> </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="chart sparkline text-center" data-chart="sparkline" data-type="bar" data-height="50px" data-barwidth="6" data-width="100%" data-barspacing="2" data-barcolor="#ffffff" data-values="[9, 8, 9, 7, 6, 8, 7, 8]"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="{{ asset('backLibs/js/vendor.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('backLibs/js/plugins.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('backLibs/js/pratham.js') }}" type="text/javascript"></script>
</body>



</html>